In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from surprise import Reader, Dataset, SVD
import time
from surprise.accuracy import rmse, mae
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split

In [2]:
### read ratings.csv file
ratings = pd.read_csv("./BX-Book-Ratings.csv",sep=';', encoding='latin-1',error_bad_lines=False)
ratings.head()

C:\Users\nguoi\AppData\Local\Temp\ipykernel_3940\2448960088.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv("./BX-Book-Ratings.csv",sep=';', encoding='latin-1',error_bad_lines=False)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [3]:
### read ratings.csv file
books = pd.read_csv("./BX-Books.csv",sep=';', encoding='latin-1',error_bad_lines=False)
books.head()

C:\Users\nguoi\AppData\Local\Temp\ipykernel_3940\1632878034.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv("./BX-Books.csv",sep=';', encoding='latin-1',error_bad_lines=False)
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\nguoi\AppData\Local\Temp\ipykernel_3940\1632878034.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("./BX-Books.csv",sep=';', encoding='latin-1',error_bad_lines=False)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.to_csv('Book-Ratings.csv',index=False)

In [5]:
### read ratings.csv file
users = pd.read_csv("./BX-Users.csv",sep=';', encoding='latin-1',error_bad_lines=False)
users.head()

C:\Users\nguoi\AppData\Local\Temp\ipykernel_3940\544819996.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv("./BX-Users.csv",sep=';', encoding='latin-1',error_bad_lines=False)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
from surprise.model_selection import GridSearchCV
### drop na value
uni_user = ratings['User-ID'].nunique(dropna=True)
uni_movie = ratings.ISBN.nunique(dropna=True)
print("number of user")
print(uni_user)
print("number of movie")
print(uni_movie)

number of user
105283
number of movie
340556

In [8]:
reader = Reader(rating_scale=(0.5, 5.0))

data = Dataset.load_from_df(ratings, reader)

Train, test spilt

In [9]:
## Use SVD to train
model = SVD()
cross_validate(model, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.4996  3.5050  3.5042  3.5010  3.5024  3.5024  0.0020
Fit time          51.83   52.73   52.23   52.82   54.41   52.81   0.88
Test time         1.76    1.43    1.76    1.77    1.76    1.69    0.13

{'test_rmse': array([3.49955179, 3.50498704, 3.50420138, 3.50104417, 3.50243098]),
 'fit_time': (51.83321523666382,
  52.73353171348572,
  52.230761766433716,
  52.824140787124634,
  54.40630221366882),
 'test_time': (1.761401891708374,
  1.4271831512451172,
  1.7583189010620117,
  1.768282413482666,
  1.7553479671478271)}

In [10]:
# set test set to 20%.
trainset, testset = train_test_split(data, test_size=0.2)

In [11]:
# Instantiate the SVD model.
# Train the algorithm on the training set, and predict ratings for the test set
predictions = model.fit(trainset).test(testset)

# Then compute RMSE
rmse(predictions)

RMSE: 3.5022

3.5022380604641272

In [20]:
new_data = ratings.loc[0:100000]

In [21]:
reader = Reader(rating_scale=(0.5, 5.0))

data_new = Dataset.load_from_df(new_data, reader)

In [22]:
model = SVD()
cross_validate(model, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    3.5832  3.6021  3.5710  3.5772  3.5794  3.5826  0.0105
Fit time          4.26    4.44    4.39    4.48    4.65    4.45    0.13
Test time         0.10    0.12    0.11    0.11    0.11    0.11    0.00

{'test_rmse': array([3.58324435, 3.60214891, 3.57103531, 3.57724929, 3.57942991]),
 'fit_time': (4.259586334228516,
  4.4368896484375,
  4.390253067016602,
  4.484924077987671,
  4.653871774673462),
 'test_time': (0.10376596450805664,
  0.1156463623046875,
  0.10570311546325684,
  0.11074066162109375,
  0.1077122688293457)}

In [24]:
trainset, testset = train_test_split(data_new, test_size=0.2)

In [25]:
# Instantiate the SVD model.
# Train the algorithm on the training set, and predict ratings for the test set
predictions = model.fit(trainset).test(testset)

# Then compute RMSE
rmse(predictions)

RMSE: 3.5751

3.5750810531500474

Select parameter for model

In [26]:
param_grid = {'n_factors': [80, 100, 120], 'lr_all': [0.001, 0.005, 0.01], 'reg_all': [0.01, 0.02, 0.04]}

In [27]:
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

In [28]:
## to select best parameter
gs.fit(data_new)

In [29]:
model = gs.best_estimator['rmse']

print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

3.584148955104972
{'n_factors': 120, 'lr_all': 0.005, 'reg_all': 0.04}

In [30]:
trainset, testset = train_test_split(data, test_size=0.2)

In [33]:
## using paramater was selected
model = SVD(n_factors=120, n_epochs=25, lr_all=0.005, reg_all=0.04)
predictions = model.fit(trainset).test(testset)
rmse(predictions)

RMSE: 3.5546

3.5546394981454688

# Using ALS

In [34]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('recommendation').getOrCreate()

In [35]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS

In [36]:
from pyspark.sql.types import *

In [37]:
data = spark.read.option("delimiter", ";").option("header", "true").csv('./BX-Book-Ratings.csv')

In [38]:
ratings_df = data.withColumn("User-ID", data['User-ID'].cast(IntegerType())).withColumn("ISBN", data['ISBN'].cast(IntegerType())).withColumn("Book-Rating",data['Book-Rating'].cast(IntegerType())).na.drop()
ratings_df.show()

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276726| 155061224|          5|
| 276727| 446520802|          0|
| 276729| 521795028|          6|
| 276733|2080674722|          0|
| 276737| 600570967|          6|
| 276745| 342310538|         10|
| 276746| 425115801|          0|
| 276746| 449006522|          0|
| 276746| 553561618|          0|
| 276746| 786013990|          0|
| 276746| 786014512|          0|
| 276747|  60517794|          9|
| 276747| 451192001|          0|
| 276747| 609801279|          0|
| 276747| 671537458|          9|
| 276747| 679776818|          8|
| 276747| 943066433|          7|
| 276747|1570231028|          0|
| 276747|1885408226|          7|
| 276748| 747558167|          6|
+-------+----------+-----------+
only showing top 20 rows

In [39]:
## đếm các giá trị null
from pyspark.sql.functions import col,sum
data.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in data.columns)).show()

+-------+----+-----------+
|User-ID|ISBN|Book-Rating|
+-------+----+-----------+
|      0|   0|          0|
+-------+----+-----------+

In [40]:
train_data, test_data = ratings_df.randomSplit([0.8, 0.2])

In [41]:
als = ALS(maxIter=10, regParam=0.1, rank=10, nonnegative=True, coldStartStrategy="drop",\
          userCol='User-ID', itemCol='ISBN', ratingCol='Book-Rating')

In [42]:
model = als.fit(train_data)
predictions = model.transform(test_data)

In [70]:
evaluator = RegressionEvaluator(metricName='rmse', predictionCol='prediction', labelCol='Book-Rating')
rmse_als = evaluator.evaluate(predictions)
print('Root mean squared error of the test_data: %.4f' % rmse_als)

Root mean squared error of the test_data: 4.0184